/* estilos modal /*

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modalFondo {
  background-color: rgba(15, 15, 15, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background: var(--bg-color); */
  border-radius: 5px;
  color: rgb(51, 51, 51);
  /* color: var(--text-color); */
  display: inline;
  max-height: 442px;
  width: 80%;
  outline: none;
  padding: 10px;
  top: 25%;
  bottom: 25%;
  position: absolute;
  z-index: 10000;
}

/* interna de modal */
.modal {
  width: 35%;
  padding: 30px;
  margin: 0 auto;
  z-index: 10000;
}

.modalShare {
  width: 100%;
}

.modalShare h2 {
  text-align: center;
  font-family: "Arboria";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}

.containerIcon {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 70%;
    margin: 0 auto;
  }

  .containerIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .modalShare h2 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .modalShare h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .modal {
    width: 70%;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
